# ===================== PYTHON =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===================== ENV =====================
.env
.env.*
*.env

# ===================== LOGS =====================
logs/
*.log

# ===================== MODELS =====================
models/
*.pkl
*.joblib

# ===================== DATA =====================
dataset/
*.csv
*.jsonl

# ===================== RESULTS =====================
results/*
!results/plots/
!results/plots/**
!results/report.md

# ===================== NOTEBOOK =====================
.ipynb_checkpoints/

# ===================== TEST =====================
.pytest_cache/

# ===================== SYSTEM FILES =====================
.DS_Store
Thumbs.db

# ===================== VENV =====================
venv/
.venv/

# ===================== DOCKER =====================
*.tar

# ===================== IDE =====================
.vscode/
.idea/

# ===================== BUILD =====================
dist/
build/
*.egg-info/

# ===================== CACHE =====================
.cache/